service:
  host: {{.Host}}
  port: {{.Port}}

mysql:
  host:
  port:
  user:
  password:
  db:
  log_mode:

redis:
  host:
  port:
  password:
  db:
  prefix: {{.ModPrefix}}{{.Name}}

log_path: {{.Path}}

aaa: {{.LogPath}}
