package v1

import (
	"{{.ModPrefix}}{{.Name}}/controllers"
    "{{.ModPrefix}}{{.Name}}/dao"
    "{{.ModPrefix}}{{.Name}}/pkg/api"
    "{{.ModPrefix}}{{.Name}}/pkg/wrapper"
    "{{.ModPrefix}}{{.Name}}/services"

	"github.com/kataras/iris/v12"
	"github.com/kataras/iris/v12/core/router"
)

type Ctrl struct {
	overview controllers.Overview
}

func NewCtrl(dao *dao.Dao) api.Router {
	ctl := &Ctrl{
		overview: controllers.Overview{
			Srv: services.NewOverviewService(dao),
		},
	}
	return ctl
}

func (c *Ctrl) Route(app iris.Party) {
	app.PartyFunc("", func(r router.Party) {
		r.Get("/overview", wrapper.Handler(c.overview.GetOverview))
	})
}
