package response

import (
	"github.com/kataras/iris/v12"
	"{{.ModPrefix}}{{.Name}}/pkg/logger"
)

type baseResp struct {
	RequestID string      `json:"request_id"`
	Code      int         `json:"code"`
	Message   string      `json:"message"`
	Data      interface{} `json:"data"`
}

func Success(ctx iris.Context, data interface{}) {
	requestId := ctx.ResponseWriter().Header().Get("Request-Id")
	err := ctx.JSON(baseResp{
		Code:      200,
		Message:   "success",
		Data:      data,
		RequestID: requestId,
	})
	if err != nil {
		logger.Logger.Errorln("response fail", err)
	}
}

func Error(ctx iris.Context, code int, msg string, data interface{}) {
	requestId := ctx.ResponseWriter().Header().Get("Request-Id")
	err := ctx.JSON(baseResp{
		Code:      code,
		Message:   msg,
		Data:      data,
		RequestID: requestId,
	})
	if err != nil {
		logger.Logger.Errorln("response fail", err)
	}
}
