package controllers

import (
	"{{.ModPrefix}}{{.Name}}/internal/pkg/wrapper"
	"{{.ModPrefix}}{{.Name}}/internal/services"
)

type Overview struct {
	Srv services.Overview
}

func (o *Overview) GetOverview(ctx *wrapper.Context) {
	wrapper.ApiWrapper(ctx, o.Srv.GetOverview, false, nil, nil)
}

