package services

import (
	"{{.ModPrefix}}{{.Name}}/internal/dao"
	"{{.ModPrefix}}{{.Name}}/internal/pkg/wrapper"
	"{{.ModPrefix}}{{.Name}}/internal/proto/response"
)

type overviewService struct {
	dao *dao.Dao
}

func NewOverviewService(dao *dao.Dao) Overview {
	return &overviewService{
		dao: dao,
	}
}

type Overview interface {
	GetOverview(ctx *wrapper.Context, reqBody interface{}) error
}

func (p *overviewService) GetOverview(ctx *wrapper.Context, reqBody interface{}) error {
	var resp response.OverviewResp
	wrapper.SendApiResponse(ctx, resp)
	return nil
}

