package routers

import (
	"github.com/kataras/iris/v12"
	"{{.ModPrefix}}{{.Name}}/internal/dao"
	"{{.ModPrefix}}{{.Name}}/internal/proto/response"
	"{{.ModPrefix}}{{.Name}}/internal/pkg/api"
	"{{.ModPrefix}}{{.Name}}/internal/routers/api/v1"
)

type Server struct {
	v1 api.Router
}

// @title Swagger Asset API
// @version 1.0
// @description This is a sample server Petstore server.
// @termsOfService http://swagger.io/terms/

// @contact.name API Support
// @contact.url http://www.swagger.io/support
// @contact.email support@swagger.io

// @license.name Apache 2.0
// @license.url http://www.apache.org/licenses/LICENSE-2.0.html

// @host petstore.swagger.io
// @BasePath /api

func InitRouters(app *iris.Application) {
    app.Get("/health", func(ctx iris.Context) {
		response.Success(ctx, "OK")
	})
	s := &Server{
		v1: v1.NewCtrl(dao.GetDao()),
	}
	appRouter := app.Party("/api")
	s.v1.Route(appRouter)
}
